<!DOCTYPE html>
<html>
	<head>
	<title>Meadowlark Travel</title>
	{{{_sections.head}}}
	</head>
	<body>
	<p>This is a the Crap Game Layout</p>
		{{{body}}}
			{{{_sections.jquery}}}
	<header></header>
		<img src="/img/8ball.png" alt="MeadowLark Travel">
	<script src="jquery.js"></script>
	</body>

</html>