
<div class="container">
	<div class="col-sm-6 col-sm-offset-3">
		<h1 class="pagefont">New Members Welcome</h1>
		<p class="pagefont">Login or Register with:</p>
		<a href="/login" class="btn btn-default">Login</a>
		<a href="/signup" class="btn btn-default">Signup</a>
	</div>
	<div>
		<br><br><br><br><br>
		<br><br><br><br><br>
		<br><br><br><br><br>
		<br><br><br><br><br>
		<br><br><br><br><br>
		<br><br><br><br><br>
		<br><br><br><br><br>
	</div>
</div>

