	{{#section 'head'}}
	    <script src="jquery.js"></script>
	{{/section}}

	<div style="text-align:center">
		<nav id="navbarheadmail">
			<ul id="ulbottom">
				<li>
					<form id="formmail" method="post" action="/checkmail">						
						<input  type="hidden" id="id" name="id" value="{{userID}}">
						<a id="gotmail" class="clearmessages" onclick="checkmailbox()">CheckMyInBox</a>
						<button id="checkmailbox" type="submit" style="display:none">CheckMailBox</button>
					</form>
				<li>
					<a class="clearmessages" href="/mail">SendAnotherMessage</a>
				</li>
				<li>
					<a class="pagefont fieldfont inline clearmessages" href="/profile">UpdateProfile</a>
				</li>
				<li>
					<a class="pagefont fieldfont inline clearmessages" href="/user-page">Home</a>
				</li>
				<li>
					<a class="pagefont fieldfont clearmessages" href="/logout">Logout</a>
				</li>
			</ul>
		</nav>
	</div>
	
	<hr>
	
	<div style="text-align:center">
		<form id="sentmail" method="post" action="/sentmail">						
			<input  type="hidden" id="sentinput" name="id" value="{{mail._id}}">
			<br>
			<label  class="pagefont fieldfont" for="post">Write {{mail.local.name}} A Private Message</label>
			<br>
			<textarea type="text" id="postinput" name="message"></textarea>
			<br>
			<button id="post" type="submit">Send Message</button>
		</form>
	
		<div>
			<br><br><br><br><br><br>
			<br><br><br><br><br><br>
			<br><br><br><br><br><br>
			<br><br><br><br><br><br>
		</div>
	</div>

	<footer>
		<nav id="navbarfoot">
			<ul id="ulbottom">
				<li>
					<a class="pagefont fieldfont clearmessages" href="/profile">UpdateProfile</a>
				</li>
				<li>
					<form id="formmail" method="get" action="/mail">						
						<a id="gotmail3" class="pagefont fieldfont clearmessages" id="mailboxbutton" onclick="mailbox()">PrivateMessages</a>
						<button id="mail" type="submit" style="display:none">PrivateMessages</button>
					</form>
				</li>
				<li>
					<a class="pagefont fieldfont clearmessages" href="/logout">Logout</a>
				</li>
			</ul>
		</nav>
	</footer>







